@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
 
* {
 font-family: 'Open Sans', sans-serif;
}
 
.card1 {
 min-height: 100%;
}
 
.card2 {
 height: 3.5em;
}
 
.card3 {
 height: 12em;
 white-space: pre-wrap;
 overflow: auto;
}
 
#motto {
 font-style: italic;
}
 
.qty {
 width: 15% !important;
}
 
ul {
 list-style-type: circle;
}
 
.App {
 text-align: center;
}
 
.App-logo {
 height: 40vmin;
 pointer-events: none;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
 
input[type=number] {
 -moz-appearance: textfield;
}
 
@media (prefers-reduced-motion: no-preference) {
 .App-logo {
   animation: App-logo-spin infinite 20s linear;
 }
}
 
.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}
 
.App-link {
 color: #61dafb;
}
 
@keyframes App-logo-spin {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(360deg);
 }
}


 .accordion-button{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: white !important;
 }

 .bLight{
  background-color: #dfe0e1 !important;
 }

 .inputAdjust{
  flex-grow: 0 !important;
  flex-basis: 100px !important;
 }

 .dataResult{
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
 }

 .dataResult::-webkit-scrollbar{
  display:none;
 }

 .dataResult .dataItem{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
 }

 .dataItem p {
  margin-left: 10px;
 }
 Link {
  text-decoration: none;
 }